.debug, .debug * { border: 1px dotted red}

.debug-children, .debug-children > * {border: 1px dotted red}

.index-bg {
    background-image: url('https://picsum.photos/1998/1000');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.leftbar {
    text-align: left;
}

.formcolor {
    background-color: white;
}

.plane-bg {
    background-image: url('https://picsum.photos/1997/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.train-bg {
    background-image: url('https://picsum.photos/1996/1001');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.automobile-bg {
    background-image: url('https://picsum.photos/1996/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.boat-bg {
    background-image: url('https://picsum.photos/2001/1000');
    background-size: cover;
    background-position: center;
    height: 100vh;
}