<form>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDepartureDate">Departure Date</label>
              <input type="date" class="form-control" id="inputDepartureDate" placeholder="mmddyy">
            </div>

            <div class="form-group col-md-6">
              <label for="inputReturnDate">Return Date</label>
              <input type="date" class="form-control" id="inputReturnDate" placeholder="mmddyy">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Departure Airport">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Destination Airport">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Find Flights</button>

    </div>
</form>